

/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}
h1 {
    color: #333;
}
.accordion-btn {
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
}
.accordion-content {
    display: none;
    padding: 10px;
}
/* Add more styles as needed */


section {
	margin-bottom: 32px;
}

section:last-child {
	margin-bottom: 0;
}

span, li {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 1.5rem;
}

div.line {
	margin-bottom: 16px;
}

div.columns {
	display: flex;
}

div.columns > span {
	width: 100%;
	margin-inline-end: 24px;
}

div.columns > span:last-child {
	margin-inline-end: 0;
}

div.separator {
	border-bottom: double;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

div.align-center {
    display: flex;
    justify-content: center;
}

img.profile-picture {
    border-radius: 100%;
    width: 200px;
}

p.contact-info {
	margin-block: 0;
}

p.contact-info > span:before {
	content: "•";
	margin-inline: 10px;
}

p.contact-info > span:first-child:before {
	display: none;
}

p.job-header {
	margin-block: 0;
	display: flex;
	justify-content: space-between;
}

p.job-header > span {
    font-weight: 600;
}

p.certificate {
	margin-block: 0;
}

p.certificate > span:first-child {
	font-weight: 600;
}

p.certificate > span:before {
	content: "•";
	margin-inline: 10px;
}

p.certificate > span:first-child:before {
	display: none;
}

span.my-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

span.job-title {
	text-transform: capitalize;
	font-size: 18px;
}

span.section-header {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 18px;
}

span.section-body {
	text-align: justify;
	display: block;
}

span.job-label {
	font-weight: 600;
}

ol.job-desciption {
	margin-block: 0;
}

ul.job-desciption {
	margin-block: 0;
}
