.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.static-section {
    padding: 20px;
    background-color: #e2e2e2;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 80%;
    text-align: center;
    display: flex;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion-content {
    background: #f1f1f1;
    padding: 0px;
    width: 80%;
    display: none;
    border:none;
    
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

section {
    padding-bottom: 8px;
    margin-bottom: 8px;
}

section:last-child {
    margin-bottom: 0;
}

span,
li {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5rem;
}

div.line {
    margin-bottom: 16px;
}

div.columns {
    display: flex;
}

div.columns>span {
    width: 100%;
    margin-inline-end: 24px;
}

div.columns>span:last-child {
    margin-inline-end: 0;
}

div.separator {
    border-bottom: double;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

div.align-center {
    display: flex;
    justify-content: center;
}

img.profile-picture {
    border-radius: 100%;
    width: 200px;
}

p.contact-info {
    margin-block: 0;
}

p.contact-info>span:before {
    content: "•";
    margin-inline: 10px;
}

p.contact-info>span:first-child:before {
    display: none;
}

p.job-header {
    margin-block: 0;
    display: flex;
    justify-content: space-between;
}

p.job-header>span {
    font-weight: 600;
}

p.certificate {
    margin-block: 0;
}

p.certificate>span:first-child {
    font-weight: 600;
}

p.certificate>span:before {
    content: "•";
    margin-inline: 10px;
}

p.certificate>span:first-child:before {
    display: none;
}

span.my-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}

span.job-title {
    text-transform: capitalize;
    font-size: 18px;
}

span.section-header {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}

span.section-body {
    text-align: justify;
    display: block;
}

span.job-label {
    font-weight: 600;
}

ol.job-desciption {
    margin-block: 0;
}

ul.job-desciption {
    margin-block: 0;
}
