{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

.resume {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #d10606;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.header-info {
    flex: 1;
    text-align: left;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.job {
    margin-bottom: 15px;
}

.job h3 {
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .resume {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        margin-bottom: 1000px;
    }

    .header-info {
        text-align: center;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    .job h3 {
        font-size: 16px;
    }
}
